@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h3{
    font-size: 44px;
    line-height: 55px;
    color: #020202;
    font-weight: 600;
}

h6{
    font-size: 44px;
    line-height: 55px;
    color: rgba(100, 95, 95, 0.71);
    font-weight: 600;
}

.navbar-social a{
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius:50%;
    color: #fa6805;
    font-size: 20px;
    border: 1px solid #b75353;
    background: transparent;
    justify-content: center;
    padding: 0;
    align-items: center;
    text-decoration: none;
    margin: 5px 10px 20px 15px;
    transition:all .5s ease;
}

.navbar-social a:hover,.navbar-social a.active{
    background: #f5cc05;
    color:black;
    box-shadow: 0 0 20px #c48f69;
}


/*Time to add styles for nav bar*/
.nav{
    display: flex;                   /*--------display all items in one row------------*/
    flex-direction: row;             /*--------flex direction is row------------*/
    justify-content: space-between;  /*--------want to have space between content------------*/
    align-items: center;
    width: 100%;
    padding:1rem 6.5rem;
    background: transparent;
    transition:all .5s ease;
}

/*Time to add Hamburger*/
.nav .navbar-toggler .toggler-icon{
    width: 30px;
    height: 3px;
    background: #020202;
    margin: 5px 0;
    position: relative;
    display: block;      /*To put everything in one side*/
    transition: all .5s ease;
}


